<header>
<nav class="navbar blue">
  <ul class="left">
    <li><%= image_tag "ios_google_icon.png", class: "logo" %></li>
  </ul>
  <ul class="right">
    <li><a href="../">FR</a></li>
    <li><a href="en.html">EN</a></li>
    <li><%= image_tag "profil.png", class: "avatar" %></li>
  </ul>
  <div class="center">Experimental Project for Job Application at Google</div>
</nav>
</header>
<main>
<div class="secondary-container">
  <h3 class="product-sans">Built for recruiter fun.<br>Meet my Job Application.</h3>
</div>
<div class="secondary-container">
  <a class="btn-floating btn-small waves-effect waves-light yellow previous disabled"><i class="material-icons">navigate_before</i></a>
	<div class="card card-question" style="width: 36rem;">
	    <blockquote>
      <h5>
      	<i class="material-icons">format_quote</i>
      	<br>
      	<div class="current-question scale-transition">OK Gauthier, who are you ? </div>
      	<br>
      </h5>
    </blockquote>
	</div>
  <a class="btn-floating btn-small waves-effect waves-light yellow next"><i class="material-icons">navigate_next</i></a>
</div>


	<div class="secondary-container">
    <%= audio_tag "output0-en.mp3", class: "audio-play" %>
    <%= audio_tag "output1-en.mp3", class: "audio-play" %>
    <%= audio_tag "output2-en.mp3", class: "audio-play" %>
    <%= audio_tag "output3-en.mp3", class: "audio-play" %>
    <%= audio_tag "output4-en.mp3", class: "audio-play" %>
    <%= audio_tag "output5-en.mp3", class: "audio-play" %>
    <%= audio_tag "output6-en.mp3", class: "audio-play" %>
    <%= audio_tag "output7-en.mp3", class: "audio-play" %>
		<a class="btn-floating btn-large waves-effect waves-light red pulse audioButton"><i class="material-icons">settings_voice</i></a>
    <div class="speaking">
      <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    </div>
	</div>
	



</main>

 <footer class="page-footer green">
          <div class="footer-copyright green">
            <div class="container">
            June, 2018 - MVP | Gauthier Stricker
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/gauthierstricker/">|  Linkedin  </a>
            <a class="grey-text text-lighten-4 right" href="cv_gauthier_stricker.pdf/">  CV  |</a>
            </div>
          </div>
 </footer>
<script>
$(".speaking").hide()
var question = 0;
var playing = false;

function actualizeCurrentQuestion() {
  switch (question) {
  case 0:
    $('.current-question').text('OK Gauthier, who are you ? ');
    break;
  case 1:
    $('.current-question').text('OK Gauthier, how can you speak ?');
    break;
  case 2:
    $('.current-question').text('OK Gauthier, why did you contact me ?');
    break;
  case 3:
    $('.current-question').text('OK Gauthier, why do you apply for a job at Google ?');
    break;
  case 4:
    $('.current-question').text('OK Gauthier, why do you apply for this specific position ?');
    break;
  case 5:
    $('.current-question').text('Ok Gauthier, what do you think of the future of conversational interfaces ?');
    break;
  case 6:
    $('.current-question').text('Ok Gauthier, which Google Home features you would like to see in the next weeks ?');
    break;
  case 7:
    $('.current-question').text('OK Gauthier, could you be interested in another job offer at Google ?');
    break;
  default:
}
};

$(".previous").on("click", function() {
  if (question > 0) {
    question -= 1;
    $(".next").removeClass("disabled")
  };
  if(question == 0){
    $(".previous").toggleClass("disabled");
  };
  actualizeCurrentQuestion()
});

$(".next").on("click", function() {
  if (question < 7) {
    question += 1
    $(".previous").removeClass("disabled")
  };
  if(question == 7){
    $(".next").toggleClass("disabled");
  };
  actualizeCurrentQuestion()
});


$(".audioButton").on("click", function() {
  $(".audio-play")[question].currentTime = 0;
  return $(".audio-play")[question].play();
});

$('.audio-play').on('playing', function() {
   playing = true;
   console.log("playing = true")
   $(".audioButton").hide()
   $(".speaking").show()
});
$('.audio-play').on('ended', function() {
   playing = false;
   console.log("playing = false")
   $(".audioButton").show()
   $(".speaking").hide()
});
$('.speaking').on("click", function() {
   playing = false;
   console.log("playing = false")
   $(".audio-play")[question].pause()
   $(".audio-play")[question].currentTime = 0;
   $(".audioButton").show()
   $(".speaking").hide()
});
</script>
